<!-- Login Page Creation -->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input class="ng-pristine ng-invalid ng-invalid-required ng-touched" matInput name="username" ngModel type="username" placeholder="User Name" #usernameInput="ngModel" required username>
      <mat-error *ngIf="usernameInput.invalid">Please enter a valid username</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input  type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid username</mat-error>
    </mat-form-field>
    <button mat-raised-button color= "primary" type="submit" *ngIf="!isLoading" >Login</button>
  </form>
</mat-card>
