:host {
  display:block;
  margin-top: 5rem;
}

mat-form-field {
 /*  margin-left: 20%; */
  width: 60%;
}

mat-spinner {
  margin-left: 10%;
}


mat-card{
  width: 40%;
  margin-left: 28%;
}
/* 
#backbtn { 

  margin-left: 5%; 

 } */

