
  #searchfield {
    background-color:white;
    color:black;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
  }
  
 
  /* .mat-paginator {
      background-color:silver;
      color: black;
      margin-top: 1rem;
      align-items: center;
      width: 100%;
    } */
  
  table {
    width: 100%;
    display: contents;
   /*  border-collapse:separate; 
    border-spacing: 0 15px;  */
  }
  
  th{
    
    text-align: center;
    background-color:silver;
    color: black;
    border: 1px solid black; 
    padding: 5px;
    
  }

  td{
    text-align: center;
    border: 1px solid black; 
    padding: 10px;
  }
  h1 {
    width: 100%;
    margin-left: 190%;
    font-weight: bold;
  }

  #paybilltable{
    background-color:white;
    color:black;
    margin-left: 20%;
    width: 60%;
    margin-top: 5%;
  }

  #tablecontent {
    margin-left: 10%;
    overflow-x: scroll;
    overflow-Y: scroll;
   }  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
    width:20%;
    height: 25px;
  }
/*   .mat-raised-button {
  margin-left: 30%;
} */
