<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSaveDa(daForm)" #daForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input
        matInput
        type="text"
        name="title"
        [ngModel]="da?.title"
        required
        minlength="1"
        placeholder="Da Title"
        #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter DA</mat-error>
      </mat-form-field>
     <!--  <mat-form-field>
        <textarea
        matInput
        rows="4"
        name="content"
        [ngModel]="dept?.content"
        required
        placeholder="Dept Content"
      #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a department content.</mat-error>
    </mat-form-field> -->
    <br>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save DA</button>
      <button type="button" color="accent" style="margin-left:5%" [routerLink]="['/DAupdate']">BACK</button>
    </form>
  </mat-card>
  
  
  