<mat-card>
	<form>
		<h1> PAY GENERATION</h1>	

		<mat-form-field>
                        <mat-label> Date & Month </mat-label>
                            <input matInput [matDatepicker]="picker1" required minlength="0">
                            <mat-datepicker-toggle matSuffix [for]="picker1">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>                     
        </form>
</mat-card>
